<div class="registration">
  
    <div class="card text-center">
        <div class="card-header">
            <b>Title</b>
        </div>
        <div class="card-body"><br/>
            <form #form = "ngForm" (submit) = "onSubmit(form)" ngNativeValidate>
                <div class="form-group">
                    <label>Title:</label>
                    <input class="form-control" id="offerTitle" type="text" name="Title" #Name="ngModel" [(ngModel)]="service.formCreatingNewOffer.title" required/>
                </div><br/>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Content:</label>
                    <textarea minlength="1" class="form-control" id="offerContent" rows="5" placeholder="Content..." name="Content" #Name="ngModel" [(ngModel)]="service.formCreatingNewOffer.content" required></textarea>
                </div><br/>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Start date:</label>
                    <input class="form-control" type="date" name="start" id="startDate" #Name="ngModel" [(ngModel)]="service.formCreatingNewOffer.startDate" required/>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">End date:</label>
                    <input class="form-control" type="date" name="end" id="endDate" #Name="ngModel" [(ngModel)]="service.formCreatingNewOffer.endDate" required/>
                </div>
                
                <br/><br/>
                <button type="submit" id="submitButton" class="btn">
                    Submit
                </button>
              </form>
        </div>
    </div>  
  
</div>
  
  

