<div class="registration">
  
    <div class="card text-center">
        <div class="card-header">
            <b>Title</b>
        </div>
        <div class="card-body"><br/>
            <form>
                <div class="form-group">
                    <label>Title:</label>
                    <input class="form-control" type="text" name="Title"/>
                </div><br/>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Content:</label>
                    <textarea minlength="1" class="form-control" id="feedbackText" rows="5" placeholder="Content..." name="Content"></textarea>
                </div><br/>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Start date:</label>
                    <input class="form-control" type="date"/>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">End date:</label>
                    <input class="form-control" type="date"/>
                </div>
                
                <br/><br/>
                <button type="submit" class="btn">
                    Submit
                </button>
              </form>
        </div>
    </div>  
  
</div>
  
  

