.btnCreate{
    background-color: lightblue; 
    color: black;
    font-size: x-large;
    font-weight: bold;
    opacity: 70%;
    border-radius: 10px;
    margin-top: 20px;
    border: 0px;
    width: 300px;
    height: 50px;
}


.card{
    width: 80%;
    margin-top: 50px;
    margin-left: 100px;
}

.card-header{
    background-color: lightblue; 
    color: black;
    font-size: x-large;
    opacity: 70%;
}

.card-body{
    font-size: large;
}

.form-control{
    width: 40rem; 
    margin: 0 auto;
}

.btn{
    background-color: lightblue; 
    color: black;
    font-size: x-large;
    font-weight: bold;
    opacity: 70%;
}