
h1{
    margin-top: 20px;
    font-size: x-large;
    font-weight: bold;
    color: gray;
}

.card{
    width: 80%;
    margin-top: 50px;
    margin-left: 100px;
}

.card-header{
    background-color: lightblue; 
    color: black;
    font-size: x-large;
    opacity: 70%;
}

.card-header1{
    background-color: rgb(0, 0, 0); 
    color: lightgray;
    font-size: x-large;
    opacity: 70%;
}

.card-body{
    font-size: large;
    text-align: left;
}

.form-control{
    font-size: large;
}

label{
    font-size: large;
}

a:hover{
    cursor: pointer;
}