<div class="cards">
    <div *ngFor='let tender of tenders' >

    <div class="card text-center" *ngIf='tender.opened'>

        <div class="card-header">
            <b>HOSPITAL TENDER</b>
        </div>
        <div class="card-body">
            <div class="form-control">
                <label><b>Start date:</b></label><br/>
                {{tender.startDate}}<br/><br/>
                <div *ngIf='tender.endDate != this.oldDate'>
                <label><b>End date:</b></label><br/>
                {{tender.endDate}}<br/><br/>
                </div>
                <label><b>Tender items:</b></label><br/>
                <div *ngFor='let item of tender.tenderItems' style="margin-left: 20px;">
                    * {{item.name}}: {{item.quantity}}<br/>
                </div>
            </div>
            <a *ngIf="checkTenderOfferMaking(tender.id) && checkEditingOffer() && checkIfDateIsValid(tender.startDate, tender.endDate)" class="text-muted" (click)="changeOfferFormVisibility(tender.id)">
                Make offer
            </a><br/>
            <a *ngIf="checkTenderOfferDisplay(tender.id)" class="text-muted" (click)="changeOfferVisibility(tender.id)">
                See offers
            </a>

    </div> 
    <div *ngIf="offerFormVisibility[tender.id]==true">
        <div class="card-header1">
            <b>Offer</b>
        </div>
        <div class="card-body">
            <div class="form-control">
                <label><b>Offer items:</b></label><br/>
                <div *ngFor='let item of tender.tenderItems; let i = index' style="margin-left: 20px;">
                    * {{item.name}}: <br/>
                    <div class="offerItems">
                        - quantity: 
                        <input class="form-control-input" type="number" min="0" step="1" [(ngModel)]="offerItemsQuantities[i]"/> <br/>
                        - price: 
                        <input class="form-control-input" type="number" min="0" [(ngModel)]="offerItemsPrices[i]"/>
                    </div><br/>
                </div>
                <button *ngIf="!availableForOffer || tender.id!=offer.tenderId" class="btn" (click)="changeOfferFormVisibility(tender.id)">
                    Cancel
                </button>
                <button *ngIf="!availableForOffer || tender.id!=offer.tenderId" class="btn" (click)="checkAvailability(tender.id)">
                    Check medicine availability
                </button>
                
                <button *ngIf="availableForOffer && tender.id==offer.tenderId" class="btn" (click)="changeOfferFormVisibility(tender.id)">
                    Cancel
                </button>
                <button *ngIf="availableForOffer && tender.id==offer.tenderId" class="btn" (click)="postTenderOffer()">
                    Post offer
                </button>
                
            </div>
        </div>
    </div>


    <div *ngIf="checkTenderOfferVisibility(tender.id)">
        <div class="card-header1">
            <b>Offer</b>
        </div>
        <div class="card-body">
            <div class="form-control" *ngFor='let offer of shownOffers'>
                <label><b>Creation date:</b></label><br/>
                <div style="margin-left: 20px;">
                    {{offer.creationDate}}
                </div>
                <label><b>Offer items:</b></label><br/>
                <div *ngFor='let item of offer.tenderOfferItems' style="margin-left: 20px;">
                    * {{item.name}}: <br/>
                    <div class="offerItems">
                        - quantity: {{item.quantity}}<br/>
                        - price: {{item.price}}
                    </div><br/>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>

    
    

</div>
