.sidebar{
    margin-top: -100px;
    background-size: cover;
    background-image: url(../assets/images/sidebar-5.jpg);
    height: 100%;
    position: absolute;
    width: 20%;
}

.sidebar-background{
    background-color: lightblue;
    height: 100%;
    opacity: 40%;
}

.main-panel{
    margin-top: 100px;
}